@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2>Welcome to <span>Services24x7</span></h2>
                <p>Thank users for using the service and encourage them to return.</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="registration.html" class="btn-get-started">Sign Up </a>
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/assets/img/hero-img1.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
            </div>
        </div>
    </div>

    <div class="icon-boxes position-relative">
        <div class="container position-relative">
            <div class="row gy-4 mt-5">

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-earbuds"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">24x7 Support</a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-house-check"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">Verifid Service Centers</a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-geo-alt"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">India Wide Service</a></h4>
                    </div>
                </div><!--End Icon Box -->

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-person-check"></i></div>
                        <h4 class="title"><a href="" class="stretched-link">Expert Mechanics</a></h4>
                    </div>
                </div><!--End Icon Box -->

            </div>
        </div>
    </div>

    </div>
</section>
<!-- End Hero Section -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>About Us</h2>
                <p>Our Journey Your Vehicle's Ultimate Destination.</p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-6">
                    <h3>Always deliver more than expected</h3>
                    <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                    <p>When it comes to everyday transportation and elegance, a vehicle is a dream and your new passion. It was once only a luxury item or a fashion statement, but it is now much more than that.</p>
                    <p>It has evolved into both your daily companion and your travelling buddy. Now that you can not see your day without your beloved automobile, Services24x7 will make it possible.</p>
                </div>
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            Precision Maintenance for Your Wheels, Every Service, Every Time.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> An automobile is not just an aspiration for everyday transportation but more of a heart-touching incarnation of a dream.</li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i> Beloved desire, and enthusiasm. This is not a marker of lavishness alone nor a declaration of style,
                                but rather something much more serious.
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i> However, you forget to take proper care of your travel partners like you need a doctor like that they too need regular
                                automobile doctor checkups and services. Services24x7 is the best automotive doctor to take care of your vehicles and make sure that relationship persists.
                            </li>
                        </ul>
                        <!-- <p>

                        </p> -->

                        <div class="position-relative mt-4">
                            <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container" data-aos="zoom-out">

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"> <img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-15.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-9.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-10.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-11.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-12.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-13.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-14.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
                </div>
            </div>

        </div>
    </section>

    <!-- End Clients Section -->
    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4 align-items-center">

                <div class="col-lg-6">
                    <img src="assets/img/stats-img.svg" alt="" class="img-fluid">
                </div>

                <div class="col-lg-6">

                    <div class="stats-item d-flex align-items-center">
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Happy Clients</strong> Revving Up Happiness with Every Satisfied Client</p>
                    </div><!-- End Stats Item -->

                    <div class="stats-item d-flex align-items-center">
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Export Mechanics</strong> Where Expertise Meets Every Bolt and Gear</p>
                    </div><!-- End Stats Item -->

                    <div class="stats-item d-flex align-items-center">
                        <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
                        <p><strong>Hours Of Support</strong> 24/7 Support: Your Vehicles' Reliable Companion</p>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </div>
    </section><!-- End Stats Counter Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
        <div class="container text-center" data-aos="zoom-out">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            <h3>Call To Action</h3>
            <p> Keep your car in top condition with our comprehensive regular maintenance service. Our skilled technicians will perform oil changes, filter replacements, fluid checks, and overall inspections to ensure your car runs smoothly.</p>
            <a class="cta-btn" href="contact.html">Call To Action</a>
        </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Our Services</h2>
                <p>Empowering Your Drive with Premium Service Solutions</p>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-4 col-md-6">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="bi bi-gear-wide-connected"></i>
                        </div>
                        <h3>Ontime Service</h3>
                        <p>Get your vehicle in top-notch condition with our specialized onetime service package.</p>
                        <a href="ontime service.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-truck"></i>
                        </div>
                        <h3>Towing Service</h3>
                        <p>When Roadside Mishaps Happen, Count on Our Professional Towing Assistance, Anytime, Anywhere.</p>
                        <a href="towing service.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-clipboard-check"></i>
                        </div>
                        <h3>Monthly CheckUp</h3>
                        <p>Stay Ahead of Car & Bike Troubles Ensure Peak Performance with Our Monthly Checkup Service.</p>
                        <a href="ontime checkup.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-droplet-half"></i>
                        </div>
                        <h3>Washing & Polishing</h3>
                        <p>Restore Shine and Elegance Our Washing and Polishing Service for a Gleaming Finish.</p>
                        <a href="washing.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-telephone-inbound"></i>
                        </div>
                        <h3>24x7 Support</h3>
                        <p>Your Safety Net on the Road: Count on Our 24x7 Support for Immediate Assistance.</p>
                        <a href="24X7.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="bi bi-signpost-2"></i>
                        </div>
                        <h3>Road Side Assistance </h3>
                        <p>Problems on the Road? Leave It to Us! Our Roadside Assistance Handles It All.</p>
                        <a href="Road Side Assistance.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section><!-- End Our Services Section -->
    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Real Stories, Real Satisfaction - Our Clients Speak</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div> -->
    <!-- End testimonial item -->
    <!-- <div class="swiper-slide">
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <div class="d-flex align-items-center">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
            <div>
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
            </div>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div> -->
    <!-- End testimonial item -->
    <!-- <div class="swiper-slide">
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <div class="d-flex align-items-center">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
            <div>
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
            </div>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div> -->
    <!-- End testimonial item -->
    <!-- <div class="swiper-slide">
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <div class="d-flex align-items-center">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
            <div>
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
            </div>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div> -->
    <!-- End testimonial item -->
    <!-- <div class="swiper-slide">
      <div class="testimonial-wrap">
        <div class="testimonial-item">
          <div class="d-flex align-items-center">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
            <div>
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
            </div>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore.
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div>
    </div> -->
    <!-- End testimonial item -->
    <!-- </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->
    <!-- End Testimonials Section -->
    <!-- ======= Portfolio Section ======= -->
    <!-- <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Portfolio</h2>
          <p>Experience Our Legacy Through Our Portfolio</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

          <div>
            <ul class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-product">Product</li>
              <li data-filter=".filter-branding">Branding</li>
              <li data-filter=".filter-books">Books</li>
            </ul> -->
    <!-- End Portfolio Filters -->
    <!-- </div>

    <div class="row gy-4 portfolio-container">

      <div class="col-xl-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>
          <div class="portfolio-info">
            <h4><a href="portfolio-details.html" title="More Details">iOS Users</a></h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
          </div>
        </div>
      </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-product">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="pricing.html" title="More Details">Bike Packege</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Android Users</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-books">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Books 1</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-app">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Android Users</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-product">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="pricing.html" title="More Details">Car Package</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Branding 2</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-books">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Books 2</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-app">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Web Users</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-product">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="pricing.html" title="More Details">Bike & Car Package</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Branding 3</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- <div class="col-xl-4 col-md-6 portfolio-item filter-books">
      <div class="portfolio-wrap">
        <a href="assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>
        <div class="portfolio-info">
          <h4><a href="portfolio-details.html" title="More Details">Books 3</a></h4>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div> -->
    <!-- End Portfolio Item -->
    <!-- </div -->
    ><!-- End Portfolio Container -->
    <!-- </div>

      </div>
    </section> -->
    <!-- End Portfolio Section -->
    <!-- ======= Our Team Section ======= -->
    <!-- <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Together, Crafting Unmatched Vehicle Solutions</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <h4>Walter White</h4>
              <span>Web Development</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div> -->
    <!-- </div> -->
    <!-- End Team Member -->
    <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
      <div class="member">
        <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
        <h4>Sarah Jhinson</h4>
        <span>Marketing</span>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div> -->
    <!-- </div> -->
    <!-- End Team Member -->
    <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
      <div class="member">
        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
        <h4>William Anderson</h4>
        <span>Content</span>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div> -->
    <!-- </div> -->
    <!-- End Team Member -->
    <!-- <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
      <div class="member">
        <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
        <h4>Amanda Jepson</h4>
        <span>Accountant</span>
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div> -->
    <!-- </div> -->
    <!-- End Team Member -->
    <!-- </div> -->
    <!-- </div>
    </section> -->
    <!-- End Our Team Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Membership</h2>
                <p>Unveiling Competitive Rates for Superior Service</p>
            </div>

            <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

                <div class="col-lg-4">
                    <div class="pricing-item">
                        <h3>Bike Plan</h3>
                        <div class="icon">
                            <i class="bi bi-bicycle"></i>
                        </div>
                        <h4>
                            <sup>₹</sup>2999<span>
                                / 6 Months
                            </span>
                        </h4>
                        <ul>
                            <li><i class="bi bi-check"></i> Verifid Personal Mechanics</li>
                            <li><i class="bi bi-check"></i> 24x7 Support</li>
                            <li><i class="bi bi-check"></i> Road Side Assistance</li>
                            <li><i class="bi bi-check"></i> Service Reminder</li>
                            <li><i class="bi bi-check"></i> Free Service Two Times</li>
                            <li><i class="bi bi-check"></i> Monthly Maintenance</li>
                            <!-- <li><i class="bi bi-check"></i> Towing Service</li>
                            <li class="na"><i class="bi bi-x"></i> <span>Monthly Maintenance</span></li> -->
                            <li class="na"><i class="bi bi-x"></i> <span>Towing Service</span></li>
                        </ul>
                        <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-4">
                    <div class="pricing-item featured">
                        <h3>Bike & Car Plan</h3>
                        <div class="icon">
                            <i class="bi bi-airplane"></i>
                        </div>

                        <h4><sup>₹</sup>8999<span> / 6 Months</span></h4>
                        <ul>
                            <li><i class="bi bi-check"></i> Verifid Personal Mechanics</li>
                            <li><i class="bi bi-check"></i> 24x7 Support</li>
                            <li><i class="bi bi-check"></i> Road Side Assistance</li>
                            <li><i class="bi bi-check"></i> Service Reminder</li>
                            <li><i class="bi bi-check"></i> Free Service Two Times</li>
                            <li><i class="bi bi-check"></i> Monthly Maintenance</li>
                            <li><i class="bi bi-check"></i> Towing Service</li>
                            <!-- <li class="na"><i class="bi bi-x"></i> <span>Monthly Maintenance</span></li>
                            <li class="na"><i class="bi bi-x"></i> <span>Towing Service</span></li> -->
                        </ul>
                        <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                    </div>
                </div><!-- End Pricing Item -->

                <div class="col-lg-4">
                    <div class="pricing-item">
                        <h3>Car Plan</h3>
                        <div class="icon">
                            <i class="bi bi-car-front"></i>
                        </div>
                        <h4><sup>₹</sup>6999<span> / 6 Months</span></h4>
                        <ul>
                            <li><i class="bi bi-check"></i> Verifid Personal Mechanics</li>
                            <li><i class="bi bi-check"></i> 24x7 Support</li>
                            <li><i class="bi bi-check"></i> Road Side Assistance</li>
                            <li><i class="bi bi-check"></i> Service Reminder</li>
                            <li><i class="bi bi-check"></i> Free Service Two Times</li>
                            <li><i class="bi bi-check"></i> Monthly Maintenance</li>
                            <li><i class="bi bi-check"></i> Towing Service</li>
                            <!-- <li class="na"><i class="bi bi-x"></i> <span>Monthly Maintenance</span></li>
                            <li class="na"><i class="bi bi-x"></i> <span>Towing Service</span></li> -->
                        </ul>
                        <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                    </div>
                </div><!-- End Pricing Item -->

            </div>

        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="content px-xl-5">
                        <h3>Frequently Asked <strong>Questions</strong></h3>
                        <p>
                            Clarifying Doubts, Empowering Decisions - Our FAQ Guide
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    <span class="num">1.</span>
                                    What are your operating hours?
                                </button>
                            </h3>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    We are open 24x7. Feel free to contact us or check our website for specific operating hours for each location.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                    <span class="num">2.</span>
                                    Are there any service packages or discounts available?
                                </button>
                            </h3>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    Yes, we offer various service packages and occasional discounts. Check our website or inquire with our staff to learn about current offers.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                    <span class="num">3.</span>
                                    Do you offer emergency or after-hours services?
                                </button>
                            </h3>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    We provide emergency roadside assistance during our operational hours. Contact our hotline for assistance or check if your location offers after-hours support.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                    <span class="num">4.</span>
                                    How can I provide feedback or lodge a complaint about the service received?
                                </button>
                            </h3>
                            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    We value your feedback! Feel free to contact our customer service department via phone, email, or in person. Your input helps us improve our services.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                    <span class="num">5.</span>
                                    Can I cancel or reschedule an appointment? Are there any fees for doing so?
                                </button>
                            </h3>
                            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    We understand plans change. You can cancel or reschedule your appointment without any fees by informing us within a reasonable time frame.
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Recent Blog Posts Section ======= -->
    <!-- <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <p>The Essential Car Service Checklist to Keep Your Vehicle Running Smoothly</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Autonomous Cars</p>

              <h2 class="title">
                <a href="blog-details.html">Are We Ready for Self-Driving Vehicles?</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div> -->
    <!-- End post list item -->
    <!-- <div class="col-xl-4 col-md-6">
      <article>

        <div class="post-img">
          <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
        </div>

        <p class="post-category">The Evolution of Hybrid Cars</p>

        <h2 class="title">
          <a href="blog-details.html">From Concept to Everyday Reality</a>
        </h2>

        <div class="d-flex align-items-center">
          <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
          <div class="post-meta">
            <p class="post-author">Allisa Mayer</p>
            <p class="post-date">
              <time datetime="2022-01-01">Jun 5, 2022</time>
            </p>
          </div>
        </div>

      </article>
    </div> -->
    <!-- End post list item -->
    <!-- <div class="col-xl-4 col-md-6">
      <article>

        <div class="post-img">
          <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
        </div>

        <p class="post-category">A Nostalgic Journey</p>

        <h2 class="title">
          <a href="blog-details.html">Exploring the History of Classic Muscle Cars</a>
        </h2>

        <div class="d-flex align-items-center">
          <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
          <div class="post-meta">
            <p class="post-author">Mark Dower</p>
            <p class="post-date">
              <time datetime="2022-01-01">Jun 22, 2022</time>
            </p>
          </div>
        </div>

      </article>
    </div> -->
    <!-- End post list item -->
    <!-- </div> -->
    <!-- End recent posts list -->
    <!-- </div>
    </section> -->
    <!-- End Recent Blog Posts Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Contact</h2>
                <p>Reach Out, Let's Discuss Your Wheels' Needs.</p>
            </div>

            <div class="row gx-lg-0 gy-4">

                <div class="col-lg-4">

                    <div class="info-container d-flex flex-column align-items-center justify-content-center">
                        <div class="info-item d-flex">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h4>Location:</h4>
                                <p>C1177, Ansal Esencia, Haryana, India</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>Email:</h4>
                                <p>Contact@services24x7.com</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>Call:</h4>
                                <p>+91-9695949324</p>
                            </div>
                        </div><!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-clock flex-shrink-0"></i>
                            <div>
                                <h4>Open Hours:</h4>
                                <p>Mon-Sat: 11AM - 23PM</p>
                            </div>
                        </div><!-- End Info Item -->
                    </div>

                </div>

                <div class="col-lg-8">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>