################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main_WebSite/.vs/Main_WebSite
/Main_WebSite/Main_WebSite/bin/Debug/net6.0
